body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("stocks.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    border:5px solid #B6DDF2; 
    width: 50%;
    margin-top:200px;
    height:400px;
    padding-top: 0px;
    border-radius: 15px;
}
h1{     
    text-align: center;
    /* text-decoration: underline; */
    margin: 0px;
    padding-top: 10px;
    font-size: 45px;
    margin-bottom:70px;
    color:aliceblue
}
#stockSymbol{
 width:450px;
 height:25px;
    margin-bottom:60px;
    border-radius:6px;
   margin-top: 20px;
    font-size:16px;
}
#searchBtn{
    width:100px;
    height:30px;
    border-radius:6px;
    font-size:16px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
}