body{
    background-image:
    linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
    url("Types-of-clouds-1.jpg");
  background-size: cover;
}
.cont{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: inline-block;
    justify-content:center;
    align-items:center;
    background-image:   linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url("clouds-dawn-dramatic-1118873.jpg");
    background-size: cover;
    /* border:2px solid white; */
    border-radius: 15px;
    width:600px;
    height:500px;
    margin-top: 150px;
    margin-left: 400px ;
}
h1{
    margin-top: 100px;
    color: #a0e7ff;
    font-size: 35px;
}
.box1{
    margin-top: 50px;
    display: inline-block;
}
#city{
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;  
    width:500px;  
}
#get{
    margin-top:50px;
    padding: 10px;
}
.info {
  position: fixed;
  top: 50%;
  left: 83%;
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  border-radius: 10px;
  display: none;     
  z-index: 1000;    
}

